.main{
  background-color: var(--color-bright);
    min-height: calc(100vh - 60px - 48px);
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

  }
  .suggestion{
    display: none;
  }
  .more-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media(min-width: 770px){
    main{
        height: 100vh;
        width: calc(100vw - 60px);
        right: 0!important;
        top: 0!important;
        left: 60px!important;
        bottom: 0;
    }
  }
  @media(min-width: 1000px){
    .suggestion{
      font-size: 12px;
      width: 320px;
      display: flex;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 46px 53px 0 0;
      figure{
        width: 100%;
      }
    }
    .user-box{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .suggestions-section{
      margin-top: 16px;
      .suggestions-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .suggestions-user{
      display: flex;
      justify-content: space-between;
    }
    .user-margin{
      margin-left: 8px;
    }
    .main-section{
      width: calc(100vw - 320px - 60px);
      position: absolute;
      left: 0px;
      right: 320px;
    }
  }
