.main{
  background-color: var(--color-bright);
    min-height: calc(100vh - 60px - 48px);
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
  }
  article{
    display: none;
  }
  @media(min-width: 770px){
    main{
        height: 100vh;
        width: calc(100vw - 60px);
        right: 0!important;
        top: 0!important;
        left: 60px!important;
        bottom: 0;
    }
  }
  @media(min-width: 1000px){
    article{
      display: flex;
    }
  }