header{
    background-color: var(--color-bright);
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--color-lines);
    font-family: 'Cookie', cursive;
  }
  .nav-head{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .headline{
    text-align: center;
    margin: 0;
  }
  .searchbar{
    background-image: url(../img/svg/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left;
    /* background-color: var(--color-lines); */
    height: 36px;
    min-width: 125px;
    width: 268px;
    padding: 0px 8px 0 24px;
    border-radius: 8px;
    border: 1px solid var(--color-lines);
    outline: none;
}
footer{
    background-color: var(--color-bright);
    height: 48px;
    border-top: 1px solid var(--color-lines);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-foot{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
aside{
    display: none;
    .logo-txt{
        display: none;
    }
}
.menu-txt{
    display: none;
}

@media(min-width: 770px){
    header{
        display: none;
    }
    footer{
        display: none;
    }
    aside{
        background-color: var(--color-bright);
        width: 60px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        padding:16px 0 16px 0;
        border-right: 1px solid var(--color-lines);
        .insta{
            height: 100px;
            margin-bottom: 16px;
        }
        nav{
            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            div{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }  
        .menu-hover:hover{
            width: 40px;
            background-color: var(--color-hover);
            border-radius: 100%;
            justify-content: center;
        }
        .hamburger{
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
    }
}
@media(min-width: 1260px){
    aside{
        width: 244px;
        z-index: 5;
        align-items: flex-start;
        padding: 0 12px;
        padding-bottom: 16px;
        nav{
            align-items: flex-start;
            img{
                margin: 0;
            }
            div{
                justify-content: flex-start;
            }
        }
        .logo-img{
            display: none;
        }
        .logo-txt{
            display: block;
            font-family: 'Cookie', cursive;;
        }
    }
    .menu-desktop{
        width: 100%;
        align-items: flex-start;
    }
    .menu-txt{
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
    }
    .menu-hover:hover{
        width: 100%;
        background-color: var(--color-hover);
        padding-right: 5px;
        border-radius: 50px;
    }
    .hamburger{
        display: flex;
        justify-content: flex-start!important;
    }
}