.header{
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid $color-lines;
  }
  .nav-head{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbar{
    background-image: url(img/svg/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left;
    height: 36px;
    padding: 0px 24px;
    border-radius: 8px;
    outline: none;
    .searchbar:active{
      background-image: url(img/svg/cancel_FILL0_wght400_GRAD0_opsz48.svg);
    }
  }