.header{
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--color-lines);
  }
  .nav-head{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchbar{
    background-image: url(../img/svg/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left;
    /* background-color: var(--color-lines); */
    height: 36px;
    padding: 0px 24px;
    border-radius: 8px;
    border: none;
    outline: none;
}
footer{
    height: 48px;
    border-top: 1px solid var(--color-lines);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-foot{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}